<!DOCTYPE html>

<head>
    <title>Researcho</title>
    <link rel="stylesheet" type="text/css" href="stylesheets/index.css"></link>
    <script src="javascripts/P_Index.js"></script>

</head>


<body>
    <div class="Taskbar">
        
        
        <button class="MenuButton" style="left: 66vw"; >Home</button>
        <button class="MenuButton" style="left: 72vw"; >About</button>
        <button class="MenuButton" style="left: 78vw"; >Contact</button>
        <button onclick="Login()" class="Login" style="left: 85vw"; >Log in</button>
        <button onclick="Signup()" class="SignIn" style="left: 93vw"; >Sign In</button>

    </div>

    <div class="Detail">

        <p class="MainTitle">Headline</p>
        <p class="Slogan">Undertext</p>

        <button onclick="Signup()" class="Start">Sign up for free!</button>
    </div >

    <div class="Section2">

        
    </div>
    
    <div class="Section3">

        
        
    </div>
   

</body>