<!DOCTYPE html>

<head>

    <link rel="stylesheet" type="text/css" href="stylesheets/dashboard.css"></link>
    <script src="javascripts/P_Dashboard.js"></script>

    
</head>

<body>
    
    <div class="topbar">
        <img class="logo" src="/images/icon.png"></img> 
        
    </div>
    <div class="sidebar">
        <p class="title">Dashboard</p>
    </div>

    
    <button class="NewProject" onclick="ShowPanel()">New Project</button>

    <div class="dashboard" id="dashboard">

    
        
    

    </div>

   
    

</body>