
<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" type="text/css" href="style.css"></link>
    <script src="index.js"></script>
  </head>

  <body>
    
      <div class="topbar">Resarcho</div>
      <div class="sidebar">

        <p> Name </p>
        <p> Name </p>
        <p> Name </p>
        <p> Name </p>
        <p> Name </p>
        <p> Name </p>
        <p> Name </p>
        <p> Name </p>

      </div>
      <div class="main">

        <h1 class="current">Current project</h1>
        <h2 class="current">NONE</h2>

        <h3>content helper</h3>
        <button id="ButtonTest" class="center">ON</button>

      </div>

      
      

  </body>
</html>