<!DOCTYPE html>

<head>

    <link rel="stylesheet" type="text/css" href="/stylesheets/Manage.css"></link>
    <script src="/javascripts/P_Manage.js"></script>

    
</head>

<body>
    
    <div class="topbar">
        
        <img class="logo" src="/images/icon.png"></img> 

    </div>
    <div class="sidebar">
        <p class="title">Dashboard</p>
    </div>

    <div class="dashboard" id="dashboard">

   
        <p id="Title" class="Title">TITLE</p>
        <button onclick="ShowPanel()" class="NewSource">New source</button>
        <p id="Desc" class="Desc">DESC</p>
        
        <
        <div id="Box" class="Box">
            
          
            <div class="Source bold">Title</div>
            <div class="Source bold">Desc</div>
            <div class="Source bold">Link</div>
            <div class="Source bold">Time</div>
            <div class="Source bold">Author</div>
            
           
            
            









        </div>

       

    </div>

   
    

</body>